body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}

body.dark-mode {
    background-color: black;
    color: white;
}

#joke-list {
    margin-top: 20px;
}

.joke {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px auto;
    max-width: 600px;
}
